<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <title>stationsummary</title>
</head>
<body> 
<div class="ui inverted five stackable cards">
    <div class="ui card">
        <div class="content">
            <i class="right floated big green thumbtack alternate icon"></i>
            <div class="header">
                {{stationName}}
            </div>
            <div class="ui tiny header">Lat: {{latitude}}</div>
            <div class="ui tiny header">Lng: {{longitude}}</div>
        </div>
    </div>
    <div class="ui link card">
        <div class="content">
            <i class="right floated big {{ weatherIcon }}"></i>
            <div class="header">
                Weather
            </div>
            <div class="ui tiny header">{{weather}}</div>
        </div>
    </div>
    <div class="ui link card">
          <div class="content">
            <i class="right floated big orange thermometer half icon"></i>
            <div class="header">
                Temp
            </div>
            <div class="ui tiny header">{{tempInCelsius}}° C</div>
            <div class="ui tiny header">{{tempInFahrenheit}}° F</div>
            <div class="ui tiny header">min {{minTempInCelsius}}° C | max {{maxTempInCelsius}}° C</div>
            <i class="right floated orange {{tempTrend}}"></i>
        </div>
    </div>
    <div class="ui link card">
         <div class="content">
            <i class="right floated big blue wind icon"></i>
            <div class="header">
                Wind
            </div>
           <div class="ui tiny header"> {{ windSpeed }} </div>
            <div class="ui tiny header"> Compass: {{ windDirection }}</div>
            <div class="ui tiny header"> Feels like: {{ windChill }} ° C
            <i class="right floated blue {{windTrend}}"></i>
            </div>
        </div>
    </div>
    <div class="ui link card">
          <div class="content">
            <i class="right floated large red compass icon"></i>
            <div class="header">
                Pressure
            </div>
            <div class="ui tiny header">{{ pressure }} hpa</div>
            <div class="ui tiny header">min {{ minPressure }} | max {{ maxPressure }} hpa</div>
            <i class="right floated red {{pressureTrend}}"></i>
        </div>
    </div>
</div>
</body> 
</html>