<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <title>stationsummary</title>
</head>
<body> 
<div class="ui inverted five blue stackable cards">
    <div class="ui card">
        <div class="content">
            <i class="right floated big green thumbtack alternate icon"></i>
            <div class="header">
                {{stationName}}
            </div>
            <div class="ui tiny header">Lat: {{latitude}}</div>
            <div class="ui tiny header">Lng: {{longitude}}</div>
        </div>
    </div>
    <div class="ui link card">
        <div class="content">
            <i class="right floated big {{ weatherIcon }}"></i>
            <div class="header">
                Weather
            </div>
            <div class="ui tiny header">{{weather}}</div>
        </div>
    </div>
    <div class="ui link card">
          <div class="content">
            <i class="right floated big blue temperature icon"></i>
            <div class="header">
                Temp
            </div>
            <div class="ui tiny header">{{tempInCelsius}}째 C</div>
            <div class="ui tiny header">{{tempInFahrenheit}}째 F</div>
            <div class="ui line">minimum {{tempInCelsius}}째 C</div>
            <div class="ui placeholder">maximum {{tempInFahrenheit}}째 F</div>
            <div class="item"></div>
            <div class="item">
                <i class="right floated big blue icon"></i>
            </div>
        </div>
    </div>
    <div class="ui link card">
         <div class="content">
            <i class="right floated big blue wind icon"></i>
            <div class="header">
                Wind
            </div>
           <div class="ui tiny header"> {{ windSpeed }} </div>
            <div class="ui tiny header"> Compass: {{ windDirection }}</div>
            <div class="ui tiny header">
                Feels like: {{ windChill }}
            </div>
        </div>
    </div>
    <div class="ui link card">
          <div class="content">
            <i class="right floated large red compass icon"></i>
            <div class="header">
                Pressure
            </div>
            <div class="ui tiny header">{{ pressure }} hpa</div>
        </div>
    </div>
</div>
</body> 
</html>